@model WorkToolsViewModel

<section class="work-tools">
    <div class="container">
        <div class="work-tools-headline">
            <h1>@Model.Title</h1>
            <p>@Model.Description</p>
        </div>
        <div class="box-parent">
            <div class="box-section">
                <img src="images/google.svg" alt="image of google">
                <p>@Model.TextOne</p>
            </div>
            <div class="box-section">
                <img src="images/zoom.svg" alt="image of zoom">
                <p>@Model.TextTwo</p>
            </div>
            <div class="box-section">
                <img src="images/slack.svg" alt="image of slack">
                <p>@Model.TextThree</p>
            </div>
            <div class="box-section">
                <img src="images/gmail.svg" alt="image of gmail">
                <p>@Model.TextFour</p>
            </div>
            <div class="box-section">
                <img src="images/trello.svg" alt="image of trello">
                <p>@Model.TextFive</p>
            </div>
            <div class="box-section">
                <img src="images/mailchimp.svg" alt="image of mailchimp">
                <p>@Model.TextSix</p>
            </div>
            <div class="box-section">
                <img src="images/dropbox.svg" alt="image of dropbox">
                <p>@Model.TextSeven</p>
            </div>
            <div class="box-section">
                <img src="images/evernote.svg" alt="image of evernote">
                <p>@Model.TextEight</p>
            </div>
        </div>
    </div>
</section>